header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--nav);
    z-index: 3;
}

h1 {
    font-size: 24px;
    color: var(--color-neutral-0);
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 48px;

}

.nav-item a {
    text-decoration: none;
    color: var(--color-neutral-0);
    font-weight: 600;
}